// styling of keywords by angular material is overridden
.mat-form-field-appearance-legacy {
  .mat-form-field-underline {
    height: 0 !important;
  }
  .mat-form-field-wrapper{
    padding-bottom: 0 !important;
  }
  .mat-form-field-infix{
    // padding: 0 !important;
    border-top: 0 !important;
  }
}

.mat-focused {
  .mat-form-field-label
  { 
    color: #78818b !important; 
  } 
  .mat-form-field-underline {
    .mat-form-field-ripple {
      display: none !important; 
    }
  }
}
